<h1>Create Employee</h1>
<%= form_tag "/employees/#{@employee['id']}", method: :patch do %>
  <div>
    First Name: <input type="text" name="first_name" value="<%= @employee['first_name'] %>">
  </div>
  <div>
    Last Name: <input type="text" name="last_name" value="<%= @employee['last_name'] %>">
  </div>
  <div>
    Email: <input type="text" name="email" value="<%= @employee['email'] %>">
  </div>

  <input type="submit" value="Create New Employee">
<% end %>